<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Setting List</title>
</head>
<body>
<h1>Setting List</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="setting : ${settings}">
        <td th:text="${setting.id}"></td>
        <td th:text="${setting.name}"></td>
        <td th:text="${setting.type}"></td>
        <td>
            <a th:href="@{'/edit/' + ${setting.id}}">Edit</a>
            <a th:href="@{'/delete/' + ${setting.id}}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>


<a href="/logout">Logout</a>
</body>
</html>
