<!DOCTYPE html>
<html lang="en" xmlns: th ="www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" class="table table-active">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
    </tr>
    <tr th:each="issue : ${list}">
        <td th:text="${issue.id}"></td>
        <td th:text="${issue.title}"></td>

        <td th:text="${issue.assigner.id}"></td>

    </tr>
</table>
</body>
</html>