<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Move Member</title>
    <!-- Thêm link đến Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="mt-4">Move Member</h1>
    <form th:action="@{/projectmember/moveStudentFromProject}" th:object="${member}" method="post">
        <input  name="projectId" th:field="${member.id}" />
        <div class="form-group">
            <label>Name:</label>
            <input type="text" name="studentId" th:field="*{user.id}" class="form-control" />
        </div>

        <div class="form-group">
            <label>Class:</label>
            <select th:field="*{project.id}" name="movetoProjectId" class="form-control">
                <option th:each="project : ${lstProject}" th:value="${project.id}" th:text="${project.name}"></option>
            </select>
        </div>

        <div>
            <button type="submit">Save Project</button>
            <button type="button" id="closeButton4">Close</button>
        </div>
    </form>
</div>

</body>
</html>
