<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Issue</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Add New Issue</h1>
    <form th:action="@{/issue/student/add}" th:object="${issue}" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" name="title" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" th:field="*{description}" name="description" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="classId">Class</label>
            <select class="form-control" id="classId" th:field="*{classes}" name="classId">
                <option th:each="class : ${listclass}" th:text="${class.classes.name}" th:value="${class.classes.id}"></option>

            </select>
        </div>
        <div class="form-group">
            <label for="projectId">Project</label>
            <select class="form-control" id="projectId" th:field="*{project}" name="projectId" required>
                <option value="1">Project 1</option>
                <option value="2">Project 2</option>
            </select>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="assigneeId">Assignee</label>
                <select class="form-control" id="assigneeId" th:field="*{assignee}" name="assigneeId" required>
                    <option th:value="${assignerissue.id}" >assign to me</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="milestoneId">Milestone</label>
                <select class="form-control" id="milestoneId" th:field="*{milestone}" name="milestoneId" required>
                    <option value="0">-none-</option>
                </select>
            </div>
        </div>
        <select hidden class="form-control" id="assigner" th:field="*{assigner}" name="assigner" >
            <option th:text="${assignerissue.username}" th:value="${assignerissue.id}"></option>

        </select>

        <div class="row" >
            <div class="form-group col-md-6">
                <label for="processId">Process</label>
                <select class="form-control" id="processId" th:field="*{issueSetting}" name="processId" required>
                    <option value="0">-none-</option>

                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="statusId">Status</label>
                <select class="form-control" id="statusId" th:field="*{status}" name="statusId" required>
                    <option value="0">-none-</option>
                </select>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="typeId">Type</label>
                <select class="form-control" id="typeId" th:field="*{type}" name="typeId" required>
                    <option value="0">-none-</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Issue</button>
        <a href="/issue/student"> <button type="button" class="btn btn-warning ">Back home</button></a>
    </form>
</div>
<script>
    var projectSelect = document.getElementById('projectId');
    var milestoneList = document.getElementById('milestoneId');
    var processList = document.getElementById('processId');
    var statusList = document.getElementById('statusId');
    var typeList = document.getElementById('typeId');
    projectSelect.addEventListener('change', function () {
        var selectedProjectId = projectSelect.value; // Lấy giá trị của dự án đã chọn

        // Gọi đến API để lấy danh sách các mốc của dự án đã chọn
        fetch('http://localhost:8080/milestone/api/milestoneByProject/' + selectedProjectId)
            .then(response => response.json())
            .then(data => {
                // Xử lý dữ liệu và hiển thị danh sách các mốc
                var milestoneHtml = '';
                data.forEach(milestone => {
                    milestoneHtml += '<option value="'+milestone.id+'">' + milestone.name + '</option>';
                });
                milestoneHtml += '';
                milestoneList.innerHTML = milestoneHtml;
            });
        fetch('http://localhost:8080/issue_setting/api/getbyprojectandtype?id='+selectedProjectId+'&type=status')
            .then(response => response.json())
            .then(data => {
                // Xử lý dữ liệu và hiển thị danh sách các mốc
                var milestoneHtml = '';
                data.forEach(milestone => {
                    milestoneHtml += '<option value="'+milestone.id+'">' + milestone.name + '</option>';
                });
                milestoneHtml += '';
                statusList.innerHTML = milestoneHtml;
            });
        fetch('http://localhost:8080/issue_setting/api/getbyprojectandtype?id='+selectedProjectId+'&type=type')
            .then(response => response.json())
            .then(data => {
                // Xử lý dữ liệu và hiển thị danh sách các mốc
                var milestoneHtml = '';
                data.forEach(milestone => {
                    milestoneHtml += '<option value="'+milestone.id+'">' + milestone.name + '</option>';
                });
                milestoneHtml += '';
                typeList.innerHTML = milestoneHtml;
            });
        fetch('http://localhost:8080/issue_setting/api/getbyprojectandtype?id='+selectedProjectId+'&type=process')
            .then(response => response.json())
            .then(data => {
                // Xử lý dữ liệu và hiển thị danh sách các mốc
                var milestoneHtml = '';
                data.forEach(milestone => {
                    milestoneHtml += '<option value="'+milestone.id+'">' + milestone.name + '</option>';
                });
                milestoneHtml += '';
                processList.innerHTML = milestoneHtml;
            });

    });
</script>
</body>
</html>
